- var imageTop = ["grassTop", "dirt", "treeTop", "wood", "stone", "bricks", "diamond", "gold", "redstone", "magma", "tableTop", "wood", "ovenTB", "chestTB", "tntTop"]

- var imageLateral_1 = ["grassLateral", "dirt", "treeLateral", "wood", "stone", "bricks", "diamond", "gold", "redstone", "magma", "tableLateral1", "bookshelf", "ovenFront", "chestFront", "tntLateral"]

- var imageLateral_2 = ["grassLateral", "dirt", "treeLateral", "wood", "stone", "bricks", "diamond", "gold", "redstone", "magma", "tableLateral2", "bookshelf", "ovenLateral", "chestLateral", "tntLateral"]

- var imageLateral_3 = ["grassLateral", "dirt", "treeLateral", "wood", "stone", "bricks", "diamond", "gold", "redstone", "magma", "tableLateral1", "bookshelf", "ovenLateral", "chestLateral", "tntLateral"]

- var imageLateral_4 = ["grassLateral", "dirt", "treeLateral", "wood", "stone", "bricks", "diamond", "gold", "redstone", "magma", "tableLateral2", "bookshelf", "ovenLateral", "chestLateral", "tntLateral"]

- var imageBottom = ["dirt", "dirt", "treeBottom", "wood", "stone", "bricks", "diamond", "gold", "redstone", "magma", "wood", "wood", "ovenTB", "chestTB", "tntBottom"]

- var items = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]


mixin cubes(index)
    article.cube
        div.cube__sides
            picture.side.side--1
                img(src="../imgs/" + imageTop[index] + ".png", alt=imageTop[index])
            picture.side.side--2
                img(src="../imgs/" + imageLateral_1[index] + ".png", alt=imageLateral_1[index])
            picture.side.side--3
                img(src="../imgs/" + imageLateral_2[index] + ".png", alt=imageLateral_2[index])
            picture.side.side--4
                img(src="../imgs/" + imageLateral_3[index] + ".png", alt=imageLateral_3[index])
            picture.side.side--5
                img(src="../imgs/" + imageLateral_4[index] + ".png", alt=imageLateral_4[index])
            picture.side.side--6
                img(src="../imgs/" + imageBottom[index] + ".png", alt=imageBottom[index])
        div.cube__shadow



doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Minecraft Cubes | Animation
        link(rel="stylesheet", href="../css/main.css")

    body
        section.container
            each item in items
                +cubes(item)