- var imageTop = ["bricks"]
- var imageLateral = ["bricks"]
- var imageBottom = ["bricks"]
- var items = [0]

mixin cubes(index)
    article.cube
        div.cube__sides
            picture.side.side--1
                img(src="../imgs/" + imageTop[index] + ".png", alt=imageTop[index])
            picture.side.side--2
                img(src="../imgs/" + imageLateral[index] + ".png", alt=imageLateral[index])
            picture.side.side--3
                img(src="../imgs/" + imageLateral[index] + ".png", alt=imageLateral[index])
            picture.side.side--4
                img(src="../imgs/" + imageLateral[index] + ".png", alt=imageLateral[index])
            picture.side.side--5
                img(src="../imgs/" + imageLateral[index] + ".png", alt=imageLateral[index])
            picture.side.side--6
                img(src="../imgs/" + imageBottom[index] + ".png", alt=imageBottom[index])
        div.cube__shadow



doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Minecraft Cubes | Animation
        link(rel="stylesheet", href="../css/main.css")

    body
        section.container
            each item in items
                +cubes(item)